
<div class="container-flex box-shift">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="head ">Drag, Drop And Swap</h1>
    </div> 
  </div>   
</div>
<form>
<div class="container-flex box-shift">
  <div class="row">
     <div class="col-sm-8 col-md-12 col-lg-12 col-xl-12 ">
      <div class="example-container box-background1">
        <div
          cdkDropList
          #img1List="cdkDropList"
          [cdkDropListData]="img1"
          [cdkDropListConnectedTo]="[img2List,img3List,img4List,img5List]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" cdkDrag>
            <img src="{{img1[0]}}" alt="{{alt1[0]}}" width="200px" height="200px">
          </div>
          <div class="example-box" cdkDrag>
            <img src="{{img1[1]}}" alt="{{alt1[1]}}" width="200px" height="200px">
          </div>
          <div class="example-box" cdkDrag>
            <img src="{{img1[2]}}" alt="{{alt1[2]}}" width="200px" height="200px">
          </div>
        </div>
      </div>
      
      <div class="example-container box-background2">
      
        <div
          cdkDropList
          #img2List="cdkDropList"
          [cdkDropListData]="img2"
          [cdkDropListConnectedTo]="[img1List,img3List,img4List,img5List]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" cdkDrag>
            <img src="{{img2[0]}}" alt="{{alt2[0]}}" width="200px" height="200px">
          </div>
          <div class="example-box" cdkDrag>
            <img src="{{img2[1]}}" alt="{{alt2[1]}}" width="200px" height="200px">
          </div>
          <div class="example-box" cdkDrag>
            <img src="{{img2[2]}}" alt="{{alt2[2]}}" width="200px" height="200px">
          </div>
        </div>
      </div>
      
      <div class="example-container box-background3">
      
        <div
          cdkDropList
          #img3List="cdkDropList"
          [cdkDropListData]="img3"
          [cdkDropListConnectedTo]="[img1List,img2List,img4List,img5List]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" cdkDrag>
            <img src="{{img3[0]}}" alt="{{alt3[0]}}" width="200px" height="200px">
          </div>
          <div class="example-box" cdkDrag>
            <img src="{{img3[1]}}" alt="{{alt3[1]}}" width="200px" height="200px">
          </div>
          <div class="example-box" cdkDrag>
            <img src="{{img3[2]}}" alt="{{alt3[2]}}" width="200px" height="200px">
          </div>
        </div>
      </div>
      
      <div class="example-container box-background4">
      
        <div
          cdkDropList
          #img4List="cdkDropList"
          [cdkDropListData]="img4"
          [cdkDropListConnectedTo]="[img1List,img2List,img3List,img5List]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" cdkDrag>
            <img src="{{img4[0]}}" alt="{{alt4[0]}}" width="200px" height="200px">
          </div>
          <div class="example-box" cdkDrag>
            <img src="{{img4[1]}}" alt="{{alt4[1]}}" width="200px" height="200px">
          </div>
          <div class="example-box" cdkDrag>
            <img src="{{img4[2]}}" alt="{{alt4[2]}}" width="200px" height="200px">
          </div>
        </div>
      </div>
      
      <div class="example-container box-background5">
      
        <div
          cdkDropList
          #img5List="cdkDropList"
          [cdkDropListData]="img5"
          [cdkDropListConnectedTo]="[img1List,img2List,img3List,img4List]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" cdkDrag>
            <img src="{{img5[0]}}" alt="{{alt5[0]}}" width="200px" height="200px">
          </div>
          <div class="example-box" cdkDrag>
            <img src="{{img5[1]}}" alt="{{alt5[1]}}" width="200px" height="200px">
          </div>
          <div class="example-box" cdkDrag>
            <img src="{{img5[2]}}" alt="{{alt5[2]}}" width="200px" height="200px">
          </div>
        </div>
      </div>
     </div>
  </div>
</div>

<div class="container-flex">
   <div class="row">
      <div class="col-sm-8 col-md-12 col-lg-12 col-xl-12">
          <button type="submit"  class="btn btn-success  mx-auto d-block submit-shift">Submit</button>
      </div>
   </div>
</div>
</form>
